html, body {
    height: 100%;
  }

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

.leftlogo {
    color:aliceblue;
    font-size: 24px;
    font-weight: 900;
    display: flex;
    margin-left: 75px;
    margin-bottom: 75px;
}



.rightlinks {
    display: flex;
    gap: 20px;
    margin: 8px;
    align-items: center;
    list-style: none;
    margin-right: 75px;
    margin-bottom: 75px;
}

a {
    text-decoration-line: none;
    color:#e5e7eb;
}


.subheader {
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    width: auto;
    height:auto;
}

.container {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    align-content: space-between;
}
.heromain {
    width:300px;
    height: auto;
    font-size: 48px;
    color: #F9FAF8;
    weight: 900;
    margin-left: 75px;
}

.herosecond {
    width: 300px;
    height: auto;
    font-size:18px;
    color:#e5e7eb;
    margin-left: 75px;
}

button {
    background-color: #3882F6;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    align-self:flex-start;
    margin-left: 75px;
}

.image {
    margin-bottom: 75px;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 75px;
    text-align: right;
}

.headphoto {
    width: 400px;
    height: 250px;

}