html, body {
    height: 100%;
  }

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto;
}

.header,
.footer {
    background-color: #1F2937;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

.leftlogo {
    color:aliceblue;
    font-size: 24px;
    font-weight: 900;
    display: flex;
    margin-left: 75px;
    margin-bottom: 75px;
}



.rightlinks {
    display: flex;
    gap: 20px;
    margin: 8px;
    align-items: center;
    list-style: none;
    margin-right: 75px;
    margin-bottom: 75px;
}

a {
    text-decoration-line: none;
    color:#e5e7eb;
}


.subheader {
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    width: auto;
    height:auto;
}

.container {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
}

.heromain {
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
    height: auto;
    font-size: 48px;
    color: #F9FAF8;
    weight: 900;
    margin-left: 75px;
}

.herosecond {
    height: auto;
    width: 400px;
    flex-wrap: wrap;
    font-size:18px;
    color:#e5e7eb;
    margin-left: 75px;
}

.headerbutton {
    background-color: #3882F6;
    cursor: pointer;
    padding: 8px 30px;
    border-radius: 8px;
    align-self:flex-start;
    margin-left: 75px;
    color:#e5e7eb;
    font-weight: 700;
}

img {
    border-radius: 20px;
    box-shadow: 7px 10px 10px #131820; 
}

.image {
    
    margin-bottom: 75px;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 75px;
}

.headphoto {
    width: 400px;
    height: 250px;
}

.s2container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.s2header {
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
    color: #1F2937;
    font-size: 36px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
.s2images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.pic {
    width: 150px;
    height: 150px;
    margin: 50px;
    margin-bottom: 0px;
    border-radius: 15%;
}

.s2subtext {
    color: #1F2937;
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    align-content: center;
}

.stext {
    width: 150px;
    height: 150px;
    margin: 50px;
    margin-top: 15px;
    text-align: center;
}

.graycontainer {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    width: 
}
.s3container {
    display: flex;
    flex-direction: column;
    font-family: "light italic";
    color:#1F2937;
    width: 925px;
    margin: 0 auto;

}

.quote {
    font-size: 32px;
    margin-bottom: 0;
    text-align: left;
    margin-top:100px;
    
}
.signed {
    weight: 700;
    font-size: 42px;
    margin-top:0;
    text-align: right;
    margin-bottom: 100px;
}

.modal {
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    flex: 1;
    justify-content: space-evenly;
    align-self: center;
    width:500px;
    background-color:#3882F6;
    display: flex;
    color:#F9FAF8;
    padding: 30px;
    margin-top: 95px;
    margin-bottom: 95px;  
    box-shadow: 6px 7px 10px #131820;  
}

.CTA {
    display:flex;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 0px;
}

.howto {
    display: flex;
    margin-top:0px;
}

 {
    background-color: #3882F6;
    border-color: #e5e7eb;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    align-self:flex-start;
    margin-left: 75px;
    color:#e5e7eb;
    font-weight: 700;
}

.buttonbox {
    display: flex;
    align-items: center;
}

.footerbutton {
    background-color:#3882F6;
    color:#e5e7eb;
    border-color: #F9FAF8;
    cursor: pointer;
    border-radius: 8px;
    padding: 8px 30px;
    font-weight: 700;
    text-wrap: nowrap;
}

.footer {
    display: flex;
    justify-content: center;
}
.copyright {
    display:flex;
    color:#F9FAF8;
    font-size: small;
}
